# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Model checkpoints
*.pth
release_model/

# Wandb
wandb/

# Logs
*.log

# Editor / OS
.DS_Store
*.swp
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/

# Stats
output/
statistics_results.json
